.dashboard{
  display: flex;
    height: 100vh;
    width: 100vw;
      /* ff 3.6+ */
      background:-moz-radial-gradient(circle at 84% 52%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

      /* safari 5.1+,chrome 10+ */
      background:-webkit-radial-gradient(circle at 84% 52%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* opera 11.10+ */
      background:-o-radial-gradient(circle at 84% 52%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* ie 10+ */
      background:-ms-radial-gradient(circle at 84% 52%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
      /* global 92%+ browsers support */
      background:radial-gradient(circle at 84% 52%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}
.form-section{
  height: 100%;
  width: 30%;
  padding: 3rem;
}
.label{
  color: white;
  font-size: 20px;
}
@media screen and (max-width:960px){
  .form-section{
      width: 20%;
      padding: 2rem;
  }
}
.btn{
  width: 100%;
}